// place your custom styles here
.theme-container {
  overflow-y: auto;
  margin: 0rem;
  border-radius: 0rem;
  border: 0;

  overflow-wrap: break-word;
}
.sticky-article-wrapper {
  overflow-y: auto;
  max-height: 80vh;
}
